/* getting started with styling */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');


:root{
    --bg-1: hsl(273, 75%, 66%);
    --bg-2: hsl(240, 73%, 65%);
}

/* setting background gradient */
html,body{
    min-height:100%;
    min-width: 100%;
    background-image: linear-gradient(0deg,var(--bg-1),var(--bg-2));
}


body{
    font-family : 'Kumbh Sans', 'Open sans' ;
    font-size:12px;   
}

.white-box{
    width:40rem;
    height:30rem;
    margin-left: auto;
    margin-right: auto;
    margin-top:4rem;
    background:white;
    border-radius: 2rem;
}

#image__woman{

   position: relative;
   top: 25px;
   display:inline;
   right:100px;
}

#image__box{
    position: relative;
    bottom: 150px;
    /* display:inline-block; */
    right:100px;
}

.questions{
    display: inline;
    position: relative;
    bottom: 500px;
    left:300px;
}

